.dashboardsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f6f9ff;
}

.dashboardsLinksContainer {
  flex: 1;
}

.menuElement {
  padding: 0px 8px;
  color: #757575;
  border-radius: 5px;
  margin: 4px 4px 4px 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menuElementClicked {
  background-color: #eeeeee;
}

.menuElement:hover {
  background-color: #eeeeee;
  color: #757575;
}

.accordion-button {
  padding: 10px;
}

.accordion-body {
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  background-color: #ffffff;
}

.accordion-header {
  padding: 0px;
  margin: 0px;
}

.sbysp-container {
  padding: 20px;
}

.sbysp-el {
  font-size: 15px;
  font-weight: 600;
  color: #012970;
  padding: 10px 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.sbysp-el-icon {
  margin-right: 10px;
  font-size: 16px;
}
/* .sbysp-el-right {
  padding-right: 10px;
  padding-bottom: 20px;
}
.sbysp-container .sbysp-el-right .bi-chevron-down {
  position: absolute;
  transition: transform 0.3s;
}
.sbysp-container .sbysp-el.open .sbysp-el-right .bi-chevron-down {
  transform: rotate(180deg);
} */

/* .bi-chevron-down {
  transition: all 0.3s;
  transform: rotate(0deg);
}
.bi-chevron-up {
  transition: all 0.3s;
  transform: rotate(180deg);
} */
/* .bi-chevron-down::before {
  transition: all 0.3s;
}
.bi-chevron-down::after {
  transform: rotate(180deg);
} */
/* .sbysp-el .sbysp-el-right .sbysp-el-arrow .bi-chevron-down {
  transition: all 0.3s;
  transform: rotate(180deg);
} */
/* .sbysp-el .sbysp-el-right .sbysp-el-arrow i.bi-chevron-down.active {
  transform: rotate(180deg);
} */

.sbysp-el:hover {
  color: #4154f1;
  background-color: #f6f9ff;
}

.on-boarding-sub-container {
  padding-left: 42px;
  height: auto;
  transition: all 0.3s ease;
}
.on-boarding-sub-container .collapse {
  height: 0;
}

.on-boarding-sub-el {
  display: flex;
  align-items: center;
  color: #012970;
  padding: 8px 0px;
  cursor: pointer;
}

.on-boarding-sub-el:hover {
  color: #4154f1;
}

.on-boarding-sub-el-circle {
  font-size: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.on-boarding-sub-el-text {
  font-size: 14px;
  font-weight: 600;
}
