.homeContainer {
  /* background-color: #EEEEEE; */
  flex: 1 1 auto;
}
.authContent {
  height: 100%;
}
.notification-icon {
  padding-right: 20px;
  cursor: pointer;
}

.message-icon {
  padding-right: 20px;
  cursor: pointer;
}
