.authHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-bottom: 1px solid #bdbdbd;
}

.authHeader > a {
  margin-left: 20px;
  font-size: 18px;
  text-decoration: none;
}
