.sellerTypeElement {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00e676;
    border-radius: 4px;
    width: 130px;
    margin: 4px;
    font-size: 12px;
    cursor: pointer;
}

.selectedSellerTypeElement {
    background-color: #00e676;
}

.sellerTableHeader {
    height: 32px;
    display: flex;
    align-items: center;
}
.nextButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
    height: 42px;
}